In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
data_test = pd.read_excel(r"./E-Commerce_test.xlsx")
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2000 non-null   int64
 1   Warehouse_block      2000 non-null   object
 2   Mode_of_Shipment     2000 non-null   object
 3   Customer_care_calls  2000 non-null   int64
 4   Customer_rating      2000 non-null   int64
 5   Cost_of_the_Product  2000 non-null   int64
 6   Prior_purchases      2000 non-null   int64
 7   Product_importance   2000 non-null   object
 8   Gender               2000 non-null   object
 9   Discount_offered     2000 non-null   int64
 10  Weight_in_gms        2000 non-null   int64
dtypes: int64(7), object(4)
memory usage: 172.0+ KB

In [17]:
data_test.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,9000,F,Ship,5,1,189,2,medium,M,10,5248
1,9001,D,Ship,5,3,150,2,high,F,9,4446
2,9002,F,Ship,3,3,200,3,low,M,3,5739
3,9003,A,Ship,5,1,133,2,medium,M,1,4643
4,9004,B,Ship,4,2,260,3,low,M,4,5504

In [18]:
#Eliminando columna innecesaria
data_test.drop(['ID'],axis=1, inplace=True)

In [19]:
#Separamos las etiquetas de las variables categoricas y las numéricas
cat=[]
num=[]
for i in data_test.columns:
  if data_test[i].dtype == 'object':
    cat.append(i)
  else:
    num.append(i)
    
print(f'Categóricas = {cat}')
print(f'Numéricas = {num}')

Categóricas = ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']
Numéricas = ['Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases', 'Discount_offered', 'Weight_in_gms']

### One Hot encoding y Scaling en los datos

In [20]:
#Realizamos una copia del df
df_encoded = data_test.copy()

#
df_encoded = pd.get_dummies(df_encoded, drop_first=True)
df_encoded.head()

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_low,Product_importance_medium,Gender_M
0,5,1,189,2,10,5248,0,0,0,1,0,1,0,1,1
1,5,3,150,2,9,4446,0,0,1,0,0,1,0,0,0
2,3,3,200,3,3,5739,0,0,0,1,0,1,1,0,1
3,5,1,133,2,1,4643,0,0,0,0,0,1,0,1,1
4,4,2,260,3,4,5504,1,0,0,0,0,1,1,0,1

In [21]:
#importando StandarScale
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_encoded = df_encoded[num]
scaled_encoded = scaler.fit_transform(scaled_encoded)

#Ahora creamos un
scaled = df_encoded.copy()
scaled[num] = scaled_encoded

scaled

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_low,Product_importance_medium,Gender_M
0,0.676389,-1.392091,-0.616410,-1.251576,1.510350,0.814459,0,0,0,1,0,1,0,1,1
1,0.676389,0.020841,-1.458294,-1.251576,1.165993,0.344728,0,0,1,0,0,1,0,0,0
2,-1.083894,0.020841,-0.378956,-0.563897,-0.900149,1.102038,0,0,0,1,0,1,1,0,1
3,0.676389,-1.392091,-1.825269,-1.251576,-1.588863,0.460111,0,0,0,0,0,1,0,1,1
4,-0.203753,-0.685625,0.916250,-0.563897,-0.555792,0.964399,1,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,-0.203753,-1.392091,0.743556,0.811461,-1.588863,-1.358489,0,0,0,0,0,1,0,1,0
1996,-0.203753,-1.392091,0.311821,0.811461,0.132922,-1.528928,1,0,0,0,0,1,0,1,0
1997,0.676389,0.727307,0.527688,0.811461,-0.555792,-1.582812,0,1,0,0,0,1,1,0,0
1998,0.676389,-0.685625,0.117540,1.499141,-1.244506,-1.550599,0,0,0,1,0,1,0,1,1
1999,-1.964035,1.433773,-1.350360,0.811461,0.132922,-1.299333,0,0,1,0,0,1,1,0,0

### Train Split Test

In [ ]:
from sklearn.model_selection import train_test_split

X = scaled.drop(['Reached.on.Time_Y.N'], axis = 1).values
y = scaled['Reached.on.Time_Y.N'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [ ]:
#ARBOL DE DECISIONES
'''
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Instanciamos un objeto de la clase DecisionTreeClassifier
tree_a = DecisionTreeClassifier(max_depth = 3, random_state = 42) 

# Entrenamos el modelo
tree_a.fit(X, y)

# Predecimos
y_pred_tree = tree_a.predict(X)



print(accuracy_score(y,y_pred_tree))

In [ ]:
# RANDON FOREST
from sklearn.ensemble import RandomForestClassifier

RF_model=RandomForestClassifier(n_estimators=100,random_state=1)
RF_model.fit(X_train, y_train)

In [ ]:
## Performance Matrix on train data set

y_train_predict = RF_model.predict(X_train)
model_score =RF_model.score(X_train, y_train)
print(model_score)
print(metrics.classification_report(y_train, y_train_predict))

#confusion matrix training Data
matrix_train = confusion_matrix(y_train, y_train_predict)
print('Confusion Matrix')
sns.set(font_scale = 1.2)
sns.heatmap(matrix_train, annot = True,fmt = 'd', cmap='rainbow')

In [ ]:
## Performance Matrix on test data set
y_test_predict = RF_model.predict(X_test)
model_score = RF_model.score(X_test, y_test)
print(model_score)
print(metrics.classification_report(y_test, y_test_predict))
#confusion matrix test Data
matrix_test = confusion_matrix(y_test, y_test_predict)
sns.set(font_scale = 1.2)
print('Confusion Matrix')
sns.heatmap(matrix_test, annot = True,fmt = 'd', cmap='rainbow')